# -*- coding: utf-8 -*-
.vscode
__pycache__
*.pyc
venv
training_checkpoints
build
cam_l101_ml_for_nlp_e2e_challenge_from_scratch.egg-info
dist
training_checkpoints_
training_checkpoints__
training_checkpoints_first
translate
e2e-dataset/generated-sent/
e2e-dataset/pre-processed-data/sample-test.csv
e2e-metrics-master/
training_checkpoints_10000/
training_checkpoints_all/
test.py
test_test.py
test_reranking.py
training_checkpoints_baseline/
